<!doctype html>
<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>DailyGrub</title>
    <link rel="stylesheet" href="../assets/css/style.css" />
    <script src="../assets/js/vendor/modernizr.js"></script>
  </head>
  <body>
    <!-- header -->
    <header id="header">
      <nav class="wow fadeInDown">
        <div class="row">
          <div class="large-3 medium-12 small-12 columns">
            <img src='../assets/img/dailygrub.png' href="../index.html" class="img-responsive logo"></a>
          </div>
          <div class="large-9 medium-12 small-12 columns">
            <span id="showmobilemenu" class="hide-for-large-up">Menu</span>
            <ul id="mainnav">
              <li><a href="../index.html">Home</a></li>
              <li><a href="about.html">Profile</a></li>
              <li><a href="recipes.html" class="active">My Recipes</a></li>
              <li><a href="blog.html">About Us</a></li>          
              <li><a href="contact.html">Contact</a></li>
            </ul>
          </div>
        </div>
      </nav>
    </header> 
    <!-- END header -->

    <section class="content-padding">
      <div class="row">
        <div class="large-12 medium-12 small-12 columns text-center">
          <div class="head align-center">
            <h3 class="margin0 fontsans">Kale, lentils and the rest of goodfellas</h3>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="large-12 medium-12 small-12 columns">

          <div class="recipe-slider flexslider wow flipInX" data-wow-offset="350">
            <ul class="slides">
              <li>
                  <div class="entry-cover" style="background-image:url(../assets/img/entry.jpg);">
                    <a href="" class="like-it"><i class="fa fa-heart-o"></i></a><a href="" class="all"></a>
                  </div>
              </li>
              <li>
                  <div class="entry-cover" style="background-image:url(../assets/img/entry2.jpg);">
                    <a href="" class="like-it"><i class="fa fa-heart-o"></i></a><a href="" class="all"></a>
                  </div>
              </li>
              <li>
                  <div class="entry-cover" style="background-image:url(../assets/img/entry3.jpg);">
                    <a href="" class="like-it"><i class="fa fa-heart-o"></i></a><a href="" class="all"></a>
                  </div>
              </li>
              <li>
                  <div class="entry-cover" style="background-image:url(../assets/img/entry4.jpg);">
                    <a href="" class="like-it"><i class="fa fa-heart-o"></i></a><a href="" class="all"></a>
                  </div>
              </li>
            </ul>
          </div>

        </div> 
      </div>

      <div class="row">
        <div class="large-4 medium-4 small-12 blog-text columns">
          <div class="ingredients">
            <h5 class="fontsans">Ingredients:</h5>
            <ul class="no-bullet">
              <li>2 teaspoons aniseed</li>
              <li>4 garlic cloves, finely chopped</li>
              <li>¼ cup fresh lime juice, plus wedges for serving</li>
              <li>¼ cup reduced-sodium soy sauce</li>
              <li>2 tablespoons honey</li>
              <li>8 chicken thighs (about 4 lb.)</li>
              <li>1 bunch asparagus (about ¾ lb.), trimmed</li>
              <li>2 bunches scallions, trimmed</li>
              <li>2 tablespoons vegetable oil</li>
              <li>Kosher salt and freshly ground black pepper</li>
              <li>½ cup fresh cilantro leaves with tender stems</li>
            </ul>
          </div>
        </div>
        <div class="large-8 medium-8 small-12 blog-text columns">
          <h5 class="fontsans">Preparation:</h5>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam nulla elit, eleifend ut finibus ac, mollis id eros. Phasellus felis mauris, auctor imperdiet orci non, finibus vehicula libero. Aliquam id augue at ex consectetur viverra. Duis sed tincidunt tortor. Vivamus finibus eget mauris tempor aliquam. Suspendisse porta vestibulum lorem et tincidunt. Suspendisse potenti. Vestibulum non volutpat magna. Maecenas semper, ex eget commodo posuere, odio lorem auctor urna, sit amet rhoncus erat ex eget est.</p>
          <p>Quisque auctor ipsum felis, nec venenatis quam ullamcorper eu. Donec convallis orci vitae ultricies tincidunt. Sed at nisi placerat, hendrerit est finibus, gravida nisi. Quisque cursus nulla pulvinar purus consequat, et tempus elit euismod. Praesent tempor odio mi, sit amet maximus turpis convallis eu. Nam id purus sapien. Sed eleifend libero mollis volutpat vulputate. Sed rhoncus dapibus odio, et tempus quam molestie nec. Cras eu leo diam. Integer vitae aliquam arcu, at finibus ante. Vestibulum sit amet tortor sapien. Curabitur condimentum quam quis metus lacinia euismod. Interdum et malesuada fames ac ante ipsum primis in faucibus. Integer convallis bibendum felis vitae iaculis.</p>

          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent eget libero iaculis, scelerisque justo nec, venenatis mauris. Pellentesque nulla arcu, accumsan viverra pulvinar sed, sollicitudin vel neque. Fusce lobortis quam ut posuere lobortis. In vitae aliquet orci. Sed vestibulum in lorem id pharetra. Mauris facilisis ante vitae vulputate cursus. Duis a leo vel turpis scelerisque posuere eu eget eros.</p>

          <ul class="small-block-grid-2 medium-block-grid-3 large-block-grid-4 clearing-thumbs wow flipInX" data-clearing data-wow-offset="350">
            <li><a href="../assets/img/food1.jpg"><img src="../assets/img/food1.jpg"></a></li>
            <li><a href="../assets/img/food2.jpg"><img src="../assets/img/food2.jpg"></a></li>
            <li><a href="../assets/img/food3.jpg"><img src="../assets/img/food3.jpg"></a></li>
            <li><a href="../assets/img/food4.jpg"><img src="../assets/img/food4.jpg"></a></li>
            <li><a href="../assets/img/food5.jpg"><img src="../assets/img/food5.jpg"></a></li>
            <li><a href="../assets/img/food6.jpg"><img src="../assets/img/food6.jpg"></a></li>
            <li><a href="../assets/img/food1.jpg"><img src="../assets/img/food1.jpg"></a></li>
            <li><a href="../assets/img/food2.jpg"><img src="../assets/img/food2.jpg"></a></li>
          </ul>

          <ul class="soc">
              <li><a class="soc-twitter" href="#"></a></li>
              <li><a class="soc-facebook" href="#"></a></li>
              <li><a class="soc-google" href="#"></a></li>
              <li><a class="soc-pinterest" href="#"></a></li>
              <li><a class="soc-linkedin" href="#"></a></li>
              <li><a class="soc-rss soc-icon-last" href="#"></a></li>
          </ul>
        </div>
      </div>

      <div class="row">
        <div class="large-12 medium-12 small-12 columns blog-text text-justify">
          <h4>Comments:</h4>

          <ul id="comments" class="wow zoomIn" data-wow-offset="350">
            <li class="comment">
              <div class="row">
                <div class="large-2 medium-2 small-3 columns hide-for-small-only"><p><a href=""><img src="../assets/img/avatar.jpg"></a></p></div>
                <div class="large-10 medium-10 small-12 columns">
                  <p><strong><a href="">John Doe</a></strong>, 22.12.2014, 12:09, Warsaw</p>
                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam at luctus elit. Pellentesque ornare eros vel suscipit sodales. Duis accumsan ultricies massa ut dictum. Ut vitae blandit ligula, ac rhoncus sapien. In condimentum erat dui, ut lobortis dolor maximus nec. Phasellus a risus sit amet leo placerat imperdiet sit amet id ligula. Vivamus lobortis augue sollicitudin magna cursus mollis.</p>
                  <p class="text-right"><a href="" class="read">Reply &raquo;</a></p>
                </div>
              </div>
            </li>
            <li class="comment">
              <div class="row">
                <div class="large-2 medium-2 small-3 columns hide-for-small-only"><p><a href=""><img src="../assets/img/avatar.jpg"></a></p></div>
                <div class="large-10 medium-10 small-12 columns">
                  <p><strong><a href="">John Doe</a></strong>, 22.12.2014, 12:09, Warsaw</p>
                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam at luctus elit. Pellentesque ornare eros vel suscipit sodales. Duis accumsan ultricies massa ut dictum. Ut vitae blandit ligula, ac rhoncus sapien. In condimentum erat dui, ut lobortis dolor maximus nec. Phasellus a risus sit amet leo placerat imperdiet sit amet id ligula. Vivamus lobortis augue sollicitudin magna cursus mollis.</p>
                  <p class="text-right"><a href="" class="read">Reply &raquo;</a></p>
                </div>
              </div>
            </li>
            <li class="comment">
              <div class="row">
                <div class="large-2 medium-2 small-3 columns hide-for-small-only">&nbsp;</div>
                <div class="large-2 medium-2 small-3 columns hide-for-small-only"><p><a href=""><img src="../assets/img/avatar.jpg"></a></p></div>
                <div class="large-8 medium-8 small-12 columns">
                  <p><strong><a href="">John Doe</a></strong>, 22.12.2014, 12:09, Warsaw</p>
                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam at luctus elit. Pellentesque ornare eros vel suscipit sodales. Duis accumsan ultricies massa ut dictum. Ut vitae blandit ligula, ac rhoncus sapien. In condimentum erat dui, ut lobortis dolor maximus nec. Phasellus a risus sit amet leo placerat imperdiet sit amet id ligula. Vivamus lobortis augue sollicitudin magna cursus mollis.</p>
                  <p class="text-right"><a href="" class="read">Reply &raquo;</a></p>
                </div>
              </div>
            </li>
            <li class="comment">
              <div class="row">
                <div class="large-2 medium-2 small-3 columns hide-for-small-only"><p><a href=""><img src="../assets/img/avatar.jpg"></a></p></div>
                <div class="large-10 medium-10 small-12 columns">
                  <p><strong><a href="">John Doe</a></strong>, 22.12.2014, 12:09, Warsaw</p>
                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam at luctus elit. Pellentesque ornare eros vel suscipit sodales. Duis accumsan ultricies massa ut dictum. Ut vitae blandit ligula, ac rhoncus sapien. In condimentum erat dui, ut lobortis dolor maximus nec. Phasellus a risus sit amet leo placerat imperdiet sit amet id ligula. Vivamus lobortis augue sollicitudin magna cursus mollis.</p>
                  <p class="text-right"><a href="" class="read">Reply &raquo;</a></p>
                </div>
              </div>
            </li>                                    
          </ul>

          <h4>Leave a reply:</h4>
          <form class="wow zoomIn" data-wow-offset="350">
            <div class="row">
              <div class="large-12 medium-12 small-12 columns">
                <textarea placeholder="Your comment"></textarea>
              </div>
              <div class="large-4 medium-12 small-12 columns">
                <input type="email" placeholder="Your email address">
              </div>
              <div class="large-4 medium-12 small-12 columns">
                <input type="text" placeholder="Your name">
              </div> 
              <div class="large-4 medium-12 small-12 columns">
                <input type="submit" value="add comment">
              </div>                            
            </div>
          </form>
        </div> 
      </div>
    </section>

    <footer id="footer">
      <div id="footer-top">
        <div class="row">
          <div class="large-4 medium-4 small-12 columns">
            <h4>Twitter</h4>
            <p><a href="">@GoodFood</a> Nunc convallis sagittis metus, at vehicula orci lacinia a. Maecenas quis mollis dolor, vitae euismod arcu. Praesent nec.</p>
            <p><a href="">@GoodFood</a> Nunc convallis sagittis metus, at vehicula orci lacinia a. Maecenas quis mollis dolor, vitae euismod arcu. Praesent nec.</p>
            <p><a href="">@GoodFood</a> Nunc convallis sagittis metus, at vehicula orci lacinia a. Maecenas quis mollis dolor, vitae euismod arcu. Praesent nec.</p>
          </div>
          <div class="large-4 medium-4 small-12 columns">
            <h4>Recent Comments</h4>
            <p><strong>Morgan Freeman</strong> on <a href="">Where Are These Small Birds Who Like to Sing – Self-Hosted Video Post Type</a></p>
            <p><strong>Nikole Kidman</strong> on <a href="">Just a Little Depressed and What I am Doing About It – Gallery Post Type</a></p>
            <p><strong>Robert Downey Jr.</strong> on <a href="">Isn’t Just a Sequence of Waiting For Things To Be Done! – Slideshow Post Type</a></p>
            <p><strong>Morgan Freeman</strong> on <a href="">Where Are These Small Birds Who Like to Sing – Self-Hosted Video Post Type</a></p>
          </div>
          <div class="large-4 medium-4 small-12 columns">
            <h4>Lorem ipsum dolor</h4>
            <p>There are so many unexpected things I’ve gotten from blogging. Big and small things. A cookbook. A reason to use designer muffin cups. A community. A career. New friends. Offers to try a new line of microalgae.</p>
            <p>But my favourite things however, are those that involve super passionate people wanting to share their awesome</p>
            <p><a href="">Read more...</a></p>
          </div>
        </div>
      </div>

      <div id="footer-bottom">
        <div class="row">
          <div class="large-3 medium-12 small-12 columns">
            <img src='../assets/img/dailygrub.png' href="../index.html" class="img-responsive logo"></a>
          </div>
          <div class="large-9 medium-12 small-12 columns">
            <ul>
              <li><a href="../index.html" class="active">Home</a></li>
              <li><a href="about.html">Profile</a></li>
              <li><a href="recipes.html">My Recipes</a></li>
              <li><a href="blog.html">About Us</a></li>          
              <li><a href="contact.html">Contact</a></li>
            </ul>
          </div>
        </div>
      </div>
    </footer>
  
  <script src="../assets/js/vendor/jquery.js"></script>
  <script src="../assets/js/foundation.min.js"></script>
  <script src="../assets/js/app.js"></script> 
  <script src="../assets/js/wow.min.js"></script>
    <script>
      jQuery(document).foundation({
        equalizer: {
            equalize_on_stack: true
        }
      });
      wow = new WOW(
        {
          mobile: false
        }
      )
      wow.init();
    </script>
  <script src="../assets/js/packery.js"></script> 
  <script src="../assets/js/imagesloaded.pkgd.min.js"></script> 
  <script src="../assets/js/jquery.flexslider-min.js"></script> 
  </body>
</html>
